<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27855818651-6jglm3l34vbi5vesq2lngto27trp47m2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27855818651-6jglm3l34vbi5vesq2lngto27trp47m2</string>
	<key>API_KEY</key>
	<string>AIzaSyDEuhDjHPzG7_fGHUD8lZv6kIhnTHjFv0I</string>
	<key>GCM_SENDER_ID</key>
	<string>27855818651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.centennialcollege.Group9SlotMachine</string>
	<key>PROJECT_ID</key>
	<string>slots-61f82</string>
	<key>STORAGE_BUCKET</key>
	<string>slots-61f82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27855818651:ios:e1404ff2129d1889991b3e</string>
</dict>
</plist>